
body {
    font-family: 'Arial', sans-serif;
}

#categoryList li {
    transition: background-color 0.2s;
}

#taskList li {
    transition: background-color 0.2s;
}

#voiceInputBtn.bg-green-700 {
    background-color: #15803d; /* Tailwind's green-700 */
}

#editModal {
    transition: opacity 0.3s ease-in-out;
}